<h2>Query</h2>

<form id="search-form" method="POST" enctype="multipart/form-data" >
<table role="presentation">
      <tr>
          <td>resources list</td> <td><input type="file" name="resource_urls"/></td>
          <td>keywords</td>  <td><input name="keywords"/></td>
          <td><input type="submit" id="search-button" value="Search!"/></td>
      </tr>
</table>
</form>

<h2>Results</h2>
<button id="refresh-button">Refresh</button>
<table border="1">
    <thead>
        <tr>
            <td>Start</td>
            <td>Status</td>
            <td>Resource</td>
            <td>Found</td>
            <td>Not found</td>
            <td>Errors</td>
        </tr>
    </thead>
    <tbody id="repeatable-body">
        <tr class="results-row" style="display:none;">
            <td>{{this.created}}</td>
            <td>{{this.status}}</td>
            <td>{{this.resource_url}}</td>
            <td>{{this.keywords_in_content}}</td>
            <td>{{this.keywords_not_in_content}}</td>
            <td>{{this.error_message}}</td>
        </tr>
    </tbody>
</table>


<script>
app.page("searches", function()
  {
    registerButton("#refresh-button", function(){
        $.ajax({
            url: backend_url + "/tasks/",
            type: "get",
            headers: get_safe_header()
        }).done(function(response_data) {
            $(".results-row").show();
            var rep = $("#repeatable-body").repeatable();
            rep.value = response_data;
        }).fail(function(response_data) {
            console.log(response_data);
            alert("Error! " + response_data['status']);
        });
    });

    registerSubmit("#search-form", function(_this){
        var formData = new FormData(_this);
        $.ajax({
            url: backend_url + "/session/",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            headers: get_safe_header()
        })
        .done(function() {console.log("Searching...");})
        .fail(function(response_data) {console.log(response_data['responseText']); alert("Error! " + response_data['status']);});
    });
});
</script>
