<h2>User forms</h2>

<table role="presentation">
      <tr><td>username</td> <td><input name="username"></td></tr>
      <tr><td>password</td>  <td><input type="password" name="password"></td></tr>
      <tr><td>repeat password</td>  <td><input type="password" name="repeat-password"></td></tr>
      <tr><td>Email</td>     <td><input name="email"></td></tr>
</table>
<button id="register-button">Register</button>
<button id="login-button">Login</button>

<script>
app.page("user", function() {

    function checkPasswords(passwordField, repeatPasswordField) {
        if (passwordField.val() != repeatPasswordField.val()) {
            passwordField.val("");
            repeatPasswordField.val("");
            alert("Passwords don't match!");
            return false;
        }
        return true;
    }

    var usernameField = $(this).find('[name="username"]')
    var passwordField = $(this).find('[name="password"]')
    var repeatPasswordField = $(this).find('[name="repeat-password"]')
    var emailField = $(this).find('[name="email"]')

    registerButton("#register-button", function() {
        if (checkPasswords(passwordField, repeatPasswordField)) {
            var request_data = {
                "username": usernameField.val(),
                "password": passwordField.val(),
                "email": emailField.val()
            };

            $.post(
                backend_url+"/registration/",
                request_data,
                function(response_data) {
                    console.log("OK!");
                }
            ).fail(function(response_data) {
                console.log(response_data['responseText']);
                alert('Error! '+ response_data['status']);
            });
        }
    });

    registerButton("#login-button", function() {
        var request_data = {
            "username": usernameField.val(),
            "password": passwordField.val(),
        };
        $.ajax({
            url: backend_url + "/api-token-auth/",
            type: "post",
            data: request_data,
        }).done(function(response_data) {
                sessionToken = response_data['token'];
                console.log("OK!");
        }).fail(function(response_data) {
                console.log(response_data['responseText']);
                alert('Error! '+ response_data['status']);
        });
    });
});
</script>
