
body { font: 10pt sans-serif; }

/* visibility rules */

/* all sections are off by default */
body > section { display:none; }

body.user  > section#user,
body.searches > section#searches { display:block; }

/* nav styling */
nav     { background:#555; padding:10px 10px 0 10px; }
nav > a { display:inline-block; color: white; padding:4px 10px; }

/* nav highlightion rules */
body.user           > nav > a[href="#user"],
body.searches        > nav > a[href="#searches"] { background:white; color:black; }






